{% extends "base.html" %}
{% block content %}


<div class="search-box">
    <input type="text" id="username" placeholder="Enter GitHub Username" autofocus>
    <button onclick="analyzeUser()">Analyze</button>
</div>

<div id="result" class="hidden">

    <!-- Score + Radar -->
    <div class="top-section">
        <canvas id="scoreCanvas" width="180" height="180"></canvas>
        <canvas id="radarChart"></canvas>
    </div>

    <!-- User Info -->
    <div id="userInfo"></div>

    <!-- Intelligence Cards -->
    <div class="intelligence-grid">
        <div class="intel-card" id="commit_Analyzer"
            data-tooltip="Analyzes commit frequency, consistency and contribution patterns.">
            <h3>Commit Analyzer</h3>
            <p id="commitScore"></p>
            <div class="popup"></div>
        </div>

        <div class="intel-card" data-tooltip="Evaluates architecture design patterns and code structure.">
            <h3>Architech Intelligence</h3>
            <p id="archScore"></p>
            <div class="popup"></div>
        </div>

        <div class="intel-card" data-tooltip="Analyzes algorithm usage and computational efficiency.">
            <h3>Algorithm Intelligence</h3>
            <p id="techScore"></p>
            <div class="popup"></div>
        </div>

        <div class="intel-card" data-tooltip="Measures collaboration across repositories and contributors.">
            <h3>Collaboration Analyzer</h3>
            <p id="collaboration_score"></p>
            <div class="popup">..</div>
        </div>

        <div class="intel-card" data-tooltip="Evaluates documentation quality and README clarity.">
            <h3>Documentation Analyzer</h3>
            <p id="docScore"></p>
            <div class="popup">..</div>
        </div>

        <div class="intel-card" data-tooltip="Measures developer growth and learning velocity.">
            <h3>Developer Intelligence</h3>
            <p id="growthScore"></p>
            <div class="popup"></div>
        </div>


        <!-- Insights -->
        <div class="insight-section">
            <h2>🧠 AI Insights</h2>
            <div id="strengths"></div>
            <div id="weaknesses"></div>
        </div>

    </div>
</div>
{% endblock %}